package app

import (
	"fmt"
	"net/http"

	"{{ .App }}/config"
	"{{ .App }}/internal/queue"
	"{{ .App }}/internal/router"
	"{{ .App }}/pkg/ctxlogger"
	"{{ .App }}/pkg/mongodb"
)

func Init() {

	//config has to be initialized before logger for debugFlag
	config := config.Load()
	fmt.Println(config)

	ctxlogger.Init(config.App.Debug)

	//startupscreen.Splash(config)

	mongodb.Init(config)

	go queue.Subscriber()

	router := router.New(config)
	fmt.Println(config.Server.Port)
	http.ListenAndServe(":"+config.Server.Port, router)
}
